header{
  background: #BBBBBB
}
nav li{
  display: inline;
  margin: 0 0 0 15px;
}
nav a{
  tex-transform: uppercase;
  color: #fa4b68; 
front-weight: bold;
  front-size: 22px;
  text-decoration: nome;
}

nav li {
  display: inline;
  margin: 0 0 0 15xp;
  ]
  nav a [
  text-transformers: uppercase;
  color:#000000;
  front-weight: bold;
  front-size: 22xp;
  text-decoration: nome;
}
.produtos {
  width: 940xp;
  margin: 0 auto;
  padding: 50xp 0;
}
.produtos li {
  display: inline-block;
  text-align: center;
  width: 30%;
  vertical-align: top;
  margin: 0 15%;
  podding: 30xp 20xp;
  box-sizing: border-box
  footer{
    text-align: center
    background: url ("bg.jpg");
    padding: 40px 0;
  }
  .copyright{
    color: #FFFFFF
    font-size: 13px;
    margin: 20px 0 0;
  }
  
  
  
  
